ARE/gen/com/chinalwb/are/BuildConfig.java
ARE/gen/com/chinalwb/are/R.java
ARE/bin/res/crunch/drawable-hdpi/image.png
ARE/bin/res/crunch/drawable-hdpi/ic_launcher.png
ARE/bin/*
*.keystore
ARE/res/.DS_Store
ARE/res/layout/.DS_Store
ARE/libs/.DS_Store
ARE/.DS_Store
ARE/.gradle
ARE/.idea
ARE/app
ARE/build
