ARE/gen/com/chinalwb/are/BuildConfig.java
ARE/gen/com/chinalwb/are/R.java
ARE/bin/res/crunch/drawable-hdpi/image.png
ARE/bin/res/crunch/drawable-hdpi/ic_launcher.png
ARE/bin/*
*.keystore
*/**/.DS_Store
ARE/.gradle
ARE/.idea
ARE/build
ARE/app/build
ARE/app/src/main/.DS_Store
*.swp
ARE/app/release/ARE_20180405_0.0.4.apk
ARE/app/release/output.json
