<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ARE_MultiInstanceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".IndexActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AtActivity"
            android:exported="false"
            android:label="@string/title_activity_at"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".ARE_FullBottomActivity"
            android:exported="false"
            android:label="@string/title_activity_are__full_bottom"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ARE_FullTopActivity"
            android:exported="false"
            android:label="@string/title_activity_are__full_top"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ARE_MinBottomActivity"
            android:exported="false"
            android:label="@string/title_activity_are__min_bottom"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ARE_MinTopActivity"
            android:exported="false"
            android:label="@string/title_activity_are__min_top"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ARE_MinHideActivity"
            android:exported="false"
            android:label="@string/title_activity_are__min_hide"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ARE_DefaultToolbarActivity"
            android:exported="false"
            android:label="@string/title_activity_are__default_toolbar"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
